In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import koreanize_matplotlib

# 환율정보 db에서 추출하기

In [2]:
from sqlalchemy import create_engine
import pymysql
from dotenv import load_dotenv
import os
pymysql.install_as_MySQLdb
load_dotenv(dotenv_path = "../05_data_scraping/dbenv.py")
engine = create_engine(f"{os.getenv('db')}+{os.getenv('dbtype')}://{os.getenv('user_id')}:{os.getenv('pw')}@{os.getenv('host')}/{os.getenv('er_db_name')}")

In [3]:
er = pd.read_sql_table('exchange_rate', con=engine)
er

,date,통화,현찰_살때_환율,현찰_살때_Spread,현찰_팔때_환율,현찰_팔때_Spread,송금_보낼때,송금_받을때,T/C_살때,외화_수표_팔때,매매기준율,환가_료율,미화 환산율
0,1995-01-03,미국 USD,800.53,1.5,776.87,1.5,791.80,785.60,792.64,0.00,788.70,0.00,1.0000
1,1995-01-03,일본 JPY (100),798.89,1.5,775.29,1.5,791.81,782.37,792.59,0.00,787.09,0.00,0.9980
2,1995-01-03,유로 EUR,0.00,0.0,0.00,0.0,975.40,959.92,0.00,957.94,967.66,7.37,1.2269
3,1995-01-03,중국 CNY,0.00,0.0,0.00,0.0,94.12,0.00,0.00,0.00,93.38,1.00,0.1184
4,1995-01-03,홍콩 HKD,103.45,3.0,100.41,3.0,102.74,101.12,0.00,0.00,101.93,0.00,0.1292
...,...,...,...,...,...,...,...,...,...,...,...,...,...
383631,2024-09-25,리비아 LYD,0.00,0.0,0.00,0.0,282.97,277.37,NaN,0.00,280.17,0.00,0.2105
383632,2024-09-25,루마니아 RON,0.00,0.0,0.00,0.0,0.00,0.00,NaN,0.00,299.10,0.00,0.2248
383633,2024-09-25,미얀마 MMK,0.00,0.0,0.00,0.0,0.00,0.00,NaN,0.00,0.63,0.00,0.0005
383634,2024-09-25,에티오피아 ETB,0.00,0.0,0.00,0.0,0.00,0.00,NaN,0.00,11.16,0.00,0.0084
383635,2024-09-25,우즈베키스탄 UZS,0.00,0.0,0.00,0.0,0.00,0.00,NaN,0.00,0.10,0.00,0.0001

### db와 연결 끊기

In [4]:
engine.dispose()

## 금리 데이터 중 usd만 1999년부터 2024년까지 추출

In [5]:
er = er.loc[(er['date'] >= '1999-01-01') & (er['통화'] == '미국 USD'), ['date', '통화', '현찰_살때_환율']]
er

              date      통화  현찰_살때_환율
40128   1999-01-01  미국 USD   1233.49
40150   1999-01-04  미국 USD   1215.56
40172   1999-01-05  미국 USD   1193.54
40194   1999-01-06  미국 USD   1185.85
40216   1999-01-07  미국 USD   1178.17
...            ...     ...       ...
383346  2024-09-19  미국 USD   1351.74
383404  2024-09-20  미국 USD   1357.34
383462  2024-09-23  미국 USD   1362.53
383520  2024-09-24  미국 USD   1359.38
383578  2024-09-25  미국 USD   1354.08

[8024 rows x 3 columns]

In [6]:
er = er.reset_index(drop = True)
er

            date      통화  현찰_살때_환율
0     1999-01-01  미국 USD   1233.49
1     1999-01-04  미국 USD   1215.56
2     1999-01-05  미국 USD   1193.54
3     1999-01-06  미국 USD   1185.85
4     1999-01-07  미국 USD   1178.17
...          ...     ...       ...
8019  2024-09-19  미국 USD   1351.74
8020  2024-09-20  미국 USD   1357.34
8021  2024-09-23  미국 USD   1362.53
8022  2024-09-24  미국 USD   1359.38
8023  2024-09-25  미국 USD   1354.08

[8024 rows x 3 columns]

# 금리 데이터 가져오기

In [7]:
ir = pd.read_csv('../과제/model/interest_rate_1999_2023.csv')
ir

    변경일자 Unnamed: 1  기준금리
0   2023    01월 13일  3.50
1   2022    11월 24일  3.25
2   2022    10월 12일  3.00
3   2022    08월 25일  2.50
4   2022    07월 13일  2.25
5   2022    05월 26일  1.75
6   2022    04월 14일  1.50
7   2022    01월 14일  1.25
8   2021    11월 25일  1.00
9   2021    08월 26일  0.75
10  2020    05월 28일  0.50
11  2020    03월 17일  0.75
12  2019    10월 16일  1.25
13  2019    07월 18일  1.50
14  2018    11월 30일  1.75
15  2017    11월 30일  1.50
16  2016    06월 09일  1.25
17  2015    06월 11일  1.50
18  2015    03월 12일  1.75
19  2014    10월 15일  2.00
20  2014    08월 14일  2.25
21  2013    05월 09일  2.50
22  2012    10월 11일  2.75
23  2012    07월 12일  3.00
24  2011    06월 10일  3.25
25  2011    03월 10일  3.00
26  2011    01월 13일  2.75
27  2010    11월 16일  2.50
28  2010    07월 09일  2.25
29  2009    02월 12일  2.00
30  2009    01월 09일  2.50
31  2008    12월 11일  3.00
32  2008    11월 07일  4.00
33  2008    10월 27일  4.25
34  2008    10월 09일  5.00
35  2008    08월 07일  5.25
36  2007    08월 09일  5.00
37  2007    07월 12일  4.75
38  2006    08월 10일  4.50
39  2006    06월 08일  4.25
40  2006    02월 09일  4.00
41  2005    12월 08일  3.75
42  2005    10월 11일  3.50
43  2004    11월 11일  3.25
44  2004    08월 12일  3.50
45  2003    07월 10일  3.75
46  2003    05월 13일  4.00
47  2002    05월 07일  4.25
48  2001    09월 19일  4.00
49  2001    08월 09일  4.50
50  2001    07월 05일  4.75
51  2001    02월 08일  5.00
52  2000    10월 05일  5.25
53  2000    02월 10일  5.00
54  1999    05월 06일  4.75

In [8]:
ir.columns = ['연도', '월일', '금리']

In [9]:
ir.head(2)

     연도       월일    금리
0  2023  01월 13일  3.50
1  2022  11월 24일  3.25

In [10]:
ir['연도'] = ir['연도'].astype('str')
ir['월일'] = ir['월일'].str.replace("월 ", '-').str.replace('일', '')

In [11]:
ir.head()

     연도     월일    금리
0  2023  01-13  3.50
1  2022  11-24  3.25
2  2022  10-12  3.00
3  2022  08-25  2.50
4  2022  07-13  2.25

In [12]:
ir['date'] = ir['연도'] + '-' + ir['월일']
ir.head()

     연도     월일    금리        date
0  2023  01-13  3.50  2023-01-13
1  2022  11-24  3.25  2022-11-24
2  2022  10-12  3.00  2022-10-12
3  2022  08-25  2.50  2022-08-25
4  2022  07-13  2.25  2022-07-13

In [13]:
ir = ir[['date', '금리']]
ir.head()

         date    금리
0  2023-01-13  3.50
1  2022-11-24  3.25
2  2022-10-12  3.00
3  2022-08-25  2.50
4  2022-07-13  2.25

In [14]:
ir = ir.sort_values(by = 'date')
ir = ir.reset_index(drop = True)
ir.head()

         date    금리
0  1999-05-06  4.75
1  2000-02-10  5.00
2  2000-10-05  5.25
3  2001-02-08  5.00
4  2001-07-05  4.75

# 전국 주소 정보 - 우체국 전국 우편번호 데이터

In [15]:
# glob은 경로상에 있는 모든 파일 경로를 리스트로 만들어 줌
from glob import glob

In [16]:
address_path = glob('../과제/model/5_zipcode/*.txt')
address_path

['../과제/model/5_zipcode\\강원특별자치도.txt',
 '../과제/model/5_zipcode\\경기도.txt',
 '../과제/model/5_zipcode\\경상남도.txt',
 '../과제/model/5_zipcode\\경상북도.txt',
 '../과제/model/5_zipcode\\광주광역시.txt',
 '../과제/model/5_zipcode\\대구광역시.txt',
 '../과제/model/5_zipcode\\대전광역시.txt',
 '../과제/model/5_zipcode\\부산광역시.txt',
 '../과제/model/5_zipcode\\서울특별시.txt',
 '../과제/model/5_zipcode\\세종특별자치시.txt',
 '../과제/model/5_zipcode\\울산광역시.txt',
 '../과제/model/5_zipcode\\인천광역시.txt',
 '../과제/model/5_zipcode\\전라남도.txt',
 '../과제/model/5_zipcode\\전북특별자치도.txt',
 '../과제/model/5_zipcode\\제주특별자치도.txt',
 '../과제/model/5_zipcode\\충청남도.txt',
 '../과제/model/5_zipcode\\충청북도.txt']

In [17]:
address_df = pd.DataFrame()
for area in address_path : 
    temp = pd.read_csv(area, sep = '|')
    address_df = pd.concat([address_df, temp])
address_df

C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\1722274775.py:3: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(area, sep = '|')
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\1722274775.py:3: DtypeWarning: Columns (5,6,18) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(area, sep = '|')
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\1722274775.py:3: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(area, sep = '|')
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\1722274775.py:3: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(area, sep = '|')
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\1722274775.py:3: DtypeWarning: Columns (5,6,18) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(area, sep = '|')
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\1722274775.py:3: DtypeWarning: Columns (5,6,18) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(area, sep = '|')
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\1722274775.py:3: DtypeWarning: Columns (5,6,18) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(area, sep = '|')
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\1722274775.py:3: DtypeWarning: Columns (5,6,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(area, sep = '|')
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\1722274775.py:3: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(area, sep = '|')
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\1722274775.py:3: DtypeWarning: Columns (5,6,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(area, sep = '|')
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\1722274775.py:3: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(area, sep = '|')
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\1722274775.py:3: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(area, sep = '|')

,우편번호,시도,시도영문,시군구,시군구영문,읍면,읍면영문,도로명코드,도로명,도로명영문,...,법정동코드,법정동명,리명,행정동명,산여부,지번본번,읍면동일련번호,지번부번,구우편번호,우편번호일련번호
0,25627,강원특별자치도,Gangwon-do,강릉시,Gangneung-si,강동면,Gangdong-myeon,511503220033,임곡로,Imgok-ro,...,5115034022,NaN,모전리,강동면,0,45,1,3,NaN,NaN
1,25627,강원특별자치도,Gangwon-do,강릉시,Gangneung-si,강동면,Gangdong-myeon,511504460489,산두양지길,Sanduyangji-gil,...,5115034022,NaN,모전리,강동면,0,85,1,13,NaN,NaN
2,25627,강원특별자치도,Gangwon-do,강릉시,Gangneung-si,강동면,Gangdong-myeon,511504460489,산두양지길,Sanduyangji-gil,...,5115034022,NaN,모전리,강동면,0,85,1,12,NaN,NaN
3,25627,강원특별자치도,Gangwon-do,강릉시,Gangneung-si,강동면,Gangdong-myeon,511503220033,임곡로,Imgok-ro,...,5115034022,NaN,모전리,강동면,0,43,1,3,NaN,NaN
4,25627,강원특별자치도,Gangwon-do,강릉시,Gangneung-si,강동면,Gangdong-myeon,511504460640,아래장작골길,Araejangjakgol-gil,...,5115034022,NaN,모전리,강동면,0,247,1,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336848,27489,충청북도,Chungcheongbuk-do,충주시,Chungju-si,NaN,NaN,431304514540,방아길,Banga-gil,...,4313010700,호암동,NaN,호암.직동,0,67,1,6,NaN,NaN
336849,27489,충청북도,Chungcheongbuk-do,충주시,Chungju-si,NaN,NaN,431304514697,상단동산길,Sangdandongsan-gil,...,4313010700,호암동,NaN,호암.직동,0,378,1,21,NaN,NaN
336850,27489,충청북도,Chungcheongbuk-do,충주시,Chungju-si,NaN,NaN,431302238003,금봉대로,Geumbong-daero,...,4313010700,호암동,NaN,호암.직동,1,94,3,5,NaN,NaN
336851,27480,충청북도,Chungcheongbuk-do,충주시,Chungju-si,NaN,NaN,431304856108,호암토성6길,Hoamtoseong 6-gil,...,4313010700,호암동,NaN,호암.직동,0,1128,1,0,NaN,NaN
336852,27489,충청북도,Chungcheongbuk-do,충주시,Chungju-si,NaN,NaN,431304514540,방아길,Banga-gil,...,4313010700,호암동,NaN,호암.직동,0,42,1,26,NaN,NaN

In [18]:
address_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6428174 entries, 0 to 336852
Data columns (total 26 columns):
 #   Column    Dtype
---  ------    -----
 0   우편번호      int64
 1   시도        object
 2   시도영문      object
 3   시군구       object
 4   시군구영문     object
 5   읍면        object
 6   읍면영문      object
 7   도로명코드     int64
 8   도로명       object
 9   도로명영문     object
 10  지하여부      int64
 11  건물번호본번    int64
 12  건물번호부번    int64
 13  건물관리번호    object
 14  다량배달처명    float64
 15  시군구용건물명   object
 16  법정동코드     int64
 17  법정동명      object
 18  리명        object
 19  행정동명      object
 20  산여부       int64
 21  지번본번      int64
 22  읍면동일련번호   int64
 23  지번부번      int64
 24  구우편번호     float64
 25  우편번호일련번호  float64
dtypes: float64(3), int64(10), object(13)
memory usage: 1.3+ GB

In [19]:
address_df = address_df[['우편번호', '시도', '시군구', '법정동명', '읍면', '리명']]
address_df

         우편번호       시도  시군구 법정동명   읍면   리명
0       25627  강원특별자치도  강릉시  NaN  강동면  모전리
1       25627  강원특별자치도  강릉시  NaN  강동면  모전리
2       25627  강원특별자치도  강릉시  NaN  강동면  모전리
3       25627  강원특별자치도  강릉시  NaN  강동면  모전리
4       25627  강원특별자치도  강릉시  NaN  강동면  모전리
...       ...      ...  ...  ...  ...  ...
336848  27489     충청북도  충주시  호암동  NaN  NaN
336849  27489     충청북도  충주시  호암동  NaN  NaN
336850  27489     충청북도  충주시  호암동  NaN  NaN
336851  27480     충청북도  충주시  호암동  NaN  NaN
336852  27489     충청북도  충주시  호암동  NaN  NaN

[6428174 rows x 6 columns]

### 우편번호 중복 제거하기

In [20]:
address_df = address_df.drop_duplicates(subset = ['우편번호'])
address_df = address_df.reset_index(drop = True)
address_df.head()

    우편번호       시도  시군구 법정동명   읍면    리명
0  25627  강원특별자치도  강릉시  NaN  강동면   모전리
1  25630  강원특별자치도  강릉시  NaN  강동면  산성우리
2  25620  강원특별자치도  강릉시  NaN  강동면  상시동리
3  25632  강원특별자치도  강릉시  NaN  강동면   심곡리
4  25626  강원특별자치도  강릉시  NaN  강동면  안인진리

In [21]:
address_df = address_df.fillna(' ')
address_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34382 entries, 0 to 34381
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   우편번호    34382 non-null  int64
 1   시도      34382 non-null  object
 2   시군구     34382 non-null  object
 3   법정동명    34382 non-null  object
 4   읍면      34382 non-null  object
 5   리명      34382 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.6+ MB

## 구우편번호 데이터 불러와 합치기

In [22]:
old_address_df = pd.read_excel('../과제/model/6_zipcode/20150707_우편번호(기존형태).xls', header = [0,1])
old_address_df.head()

                우편번호               일련번호 주    소                       \
  Unnamed: 0_level_1 Unnamed: 1_level_1     시도  시군구  읍면동     리   도서
0             210821                  1    강원도  강릉시  강동면   모전리  NaN
1             210822                  1    강원도  강릉시  강동면  산성우리  NaN
2             210821                 21    강원도  강릉시  강동면  상시동리  NaN
3             210822                 21    강원도  강릉시  강동면   심곡리  NaN
4             210824                 31    강원도  강릉시  강동면   안인리  NaN

                  번지            아파트/건물명                변경일              주    소
  Unnamed: 7_level_1 Unnamed: 8_level_1 Unnamed: 9_level_1 Unnamed: 10_level_1
0                NaN                NaN           20040517     강원도 강릉시 강동면 모전리
1                NaN                NaN           20040517    강원도 강릉시 강동면 산성우리
2                NaN                NaN           20040517    강원도 강릉시 강동면 상시동리
3                NaN                NaN           20040517     강원도 강릉시 강동면 심곡리
4                NaN                NaN           20090929     강원도 강릉시 강동면 안인리

In [23]:
old_address_df.columns

MultiIndex([(   '우편번호',  'Unnamed: 0_level_1'),
            (   '일련번호',  'Unnamed: 1_level_1'),
            ( '주    소',                  '시도'),
            ( '주    소',                 '시군구'),
            ( '주    소',                 '읍면동'),
            ( '주    소',                   '리'),
            ( '주    소',                  '도서'),
            (     '번지',  'Unnamed: 7_level_1'),
            ('아파트/건물명',  'Unnamed: 8_level_1'),
            (    '변경일',  'Unnamed: 9_level_1'),
            ( '주    소', 'Unnamed: 10_level_1')],
           )

In [24]:
old_address_df = old_address_df[[(   '우편번호',  'Unnamed: 0_level_1'),
            (   '일련번호',  'Unnamed: 1_level_1'),
            ( '주    소',                  '시도'),
            ( '주    소',                 '시군구'),
            ( '주    소',                 '읍면동'),
            ( '주    소',                   '리')]]

In [25]:
old_address_df[(   '우편번호',  'Unnamed: 0_level_1')]

0        210821
1        210822
2        210821
3        210822
4        210824
          ...
52835    380763
52836    380967
52837    380966
52838    380130
52839    380600
Name: (우편번호, Unnamed: 0_level_1), Length: 52840, dtype: int64

In [26]:
old_address_df.head()

                우편번호               일련번호 주    소
  Unnamed: 0_level_1 Unnamed: 1_level_1     시도  시군구  읍면동     리
0             210821                  1    강원도  강릉시  강동면   모전리
1             210822                  1    강원도  강릉시  강동면  산성우리
2             210821                 21    강원도  강릉시  강동면  상시동리
3             210822                 21    강원도  강릉시  강동면   심곡리
4             210824                 31    강원도  강릉시  강동면   안인리

In [27]:
old_address_df.columns = ['우편번호', '일련번호', '시도', '시군구', '읍면동', '리']
old_address_df.head()

     우편번호  일련번호   시도  시군구  읍면동     리
0  210821     1  강원도  강릉시  강동면   모전리
1  210822     1  강원도  강릉시  강동면  산성우리
2  210821    21  강원도  강릉시  강동면  상시동리
3  210822    21  강원도  강릉시  강동면   심곡리
4  210824    31  강원도  강릉시  강동면   안인리

In [28]:
old_address_df = old_address_df.drop('일련번호', axis = 1)
old_address_df.head()

     우편번호   시도  시군구  읍면동     리
0  210821  강원도  강릉시  강동면   모전리
1  210822  강원도  강릉시  강동면  산성우리
2  210821  강원도  강릉시  강동면  상시동리
3  210822  강원도  강릉시  강동면   심곡리
4  210824  강원도  강릉시  강동면   안인리

In [29]:
old_address_df = old_address_df.drop_duplicates(subset = '우편번호')
old_address_df

         우편번호    시도  시군구  읍면동     리
0      210821   강원도  강릉시  강동면   모전리
1      210822   강원도  강릉시  강동면  산성우리
4      210824   강원도  강릉시  강동면   안인리
12     210823   강원도  강릉시  강동면  하시동리
13     210820   강원도  강릉시  강동면   NaN
...       ...   ...  ...  ...   ...
52835  380763  충청북도  충주시  호암동   NaN
52836  380967  충청북도  충주시  호암동   NaN
52837  380966  충청북도  충주시  호암동   NaN
52838  380130  충청북도  충주시  호암동   NaN
52839  380600  충청북도  충주시  NaN   NaN

[32057 rows x 5 columns]

In [30]:
old_address_df = old_address_df.fillna(' ')
old_address_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32057 entries, 0 to 52839
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   우편번호    32057 non-null  int64
 1   시도      32057 non-null  object
 2   시군구     32057 non-null  object
 3   읍면동     32057 non-null  object
 4   리       32057 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.5+ MB

In [31]:
address_df

        우편번호       시도  시군구 법정동명   읍면    리명
0      25627  강원특별자치도  강릉시       강동면   모전리
1      25630  강원특별자치도  강릉시       강동면  산성우리
2      25620  강원특별자치도  강릉시       강동면  상시동리
3      25632  강원특별자치도  강릉시       강동면   심곡리
4      25626  강원특별자치도  강릉시       강동면  안인진리
...      ...      ...  ...  ...  ...   ...
34377  27481     충청북도  충주시  호암동
34378  27415     충청북도  충주시  호암동
34379  27483     충청북도  충주시  호암동
34380  27480     충청북도  충주시  호암동
34381  27482     충청북도  충주시  호암동

[34382 rows x 6 columns]

In [32]:
address_df['읍면동'] = address_df['법정동명'] + address_df['읍면']
address_df['읍면동'] = address_df['읍면동'].apply(lambda x : x.strip())
address_df = address_df.drop(['법정동명', '읍면'], axis =1)
address_df

        우편번호       시도  시군구    리명  읍면동
0      25627  강원특별자치도  강릉시   모전리  강동면
1      25630  강원특별자치도  강릉시  산성우리  강동면
2      25620  강원특별자치도  강릉시  상시동리  강동면
3      25632  강원특별자치도  강릉시   심곡리  강동면
4      25626  강원특별자치도  강릉시  안인진리  강동면
...      ...      ...  ...   ...  ...
34377  27481     충청북도  충주시        호암동
34378  27415     충청북도  충주시        호암동
34379  27483     충청북도  충주시        호암동
34380  27480     충청북도  충주시        호암동
34381  27482     충청북도  충주시        호암동

[34382 rows x 5 columns]

In [33]:
address_df = address_df[['우편번호', '시도', '시군구', '읍면동', '리명']]
address_df

        우편번호       시도  시군구  읍면동    리명
0      25627  강원특별자치도  강릉시  강동면   모전리
1      25630  강원특별자치도  강릉시  강동면  산성우리
2      25620  강원특별자치도  강릉시  강동면  상시동리
3      25632  강원특별자치도  강릉시  강동면   심곡리
4      25626  강원특별자치도  강릉시  강동면  안인진리
...      ...      ...  ...  ...   ...
34377  27481     충청북도  충주시  호암동
34378  27415     충청북도  충주시  호암동
34379  27483     충청북도  충주시  호암동
34380  27480     충청북도  충주시  호암동
34381  27482     충청북도  충주시  호암동

[34382 rows x 5 columns]

In [34]:
address_df.rename(columns={'리명': '리'}, inplace=True)
address_df

        우편번호       시도  시군구  읍면동     리
0      25627  강원특별자치도  강릉시  강동면   모전리
1      25630  강원특별자치도  강릉시  강동면  산성우리
2      25620  강원특별자치도  강릉시  강동면  상시동리
3      25632  강원특별자치도  강릉시  강동면   심곡리
4      25626  강원특별자치도  강릉시  강동면  안인진리
...      ...      ...  ...  ...   ...
34377  27481     충청북도  충주시  호암동
34378  27415     충청북도  충주시  호암동
34379  27483     충청북도  충주시  호암동
34380  27480     충청북도  충주시  호암동
34381  27482     충청북도  충주시  호암동

[34382 rows x 5 columns]

In [35]:
old_address_df

         우편번호    시도  시군구  읍면동     리
0      210821   강원도  강릉시  강동면   모전리
1      210822   강원도  강릉시  강동면  산성우리
4      210824   강원도  강릉시  강동면   안인리
12     210823   강원도  강릉시  강동면  하시동리
13     210820   강원도  강릉시  강동면
...       ...   ...  ...  ...   ...
52835  380763  충청북도  충주시  호암동
52836  380967  충청북도  충주시  호암동
52837  380966  충청북도  충주시  호암동
52838  380130  충청북도  충주시  호암동
52839  380600  충청북도  충주시

[32057 rows x 5 columns]

# 전국 학원 정보 불러오기

In [36]:
academy = pd.read_csv('../과제/model/academy.csv', encoding = 'cp949')
academy.head()

C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\1095001671.py:1: DtypeWarning: Columns (6,22) have mixed types. Specify dtype option on import or set low_memory=False.
  academy = pd.read_csv('../과제/model/academy.csv', encoding = 'cp949')

,시도교육청코드,시도교육청명,행정구역명,학원교습소구분명,학원지정번호,학원명,개설일자,등록일자,등록상태명,휴원시작일자,...,교습과정목록명,교습과정명,인당수강료내용,수강료공개여부,기숙사학원여부,시설도로명주소,시설도로명상세주소,시설도로명우편번호,전화번호,수정일자
0,B10,서울특별시교육청,강남구,학원,3000040160,대치학원,20211111,20211111,개원,,...,보습·논술,보습·논술,,Y,N,서울특별시 강남구 삼성로 347,", 201호 (대치동, 대일빌딩)",6202,02-2135-7135,20240908
1,B10,서울특별시교육청,강남구,학원,3000039285,(A STUDIO)에이스튜디오학원,20210630,20210630,개원,,...,NaN,"연기(연극,뮤지컬,오페라)",,Y,N,서울특별시 강남구 논현로134길 5,", 5층, 6층 (논현동)",6052,02-6013-8112,20231018
2,B10,서울특별시교육청,강남구,학원,2531,(주)멘토르수학전문학원,19950804,19950804,개원,,...,"보습,",보습,,N,N,서울특별시 강남구 남부순환로 2927,", 501호 일부(대치동, 대치 클래시아)",6280,02-564-5002,20240428
3,B10,서울특별시교육청,강남구,학원,3000012704,(주)산에듀김영준국어논술전문별관학원,20110415,20110415,개원,,...,보습·논술,보습·논술,,N,N,서울특별시 강남구 선릉로62길 27,", 1~4층 (대치동)",135998,02-501-0575,20240908
4,B10,서울특별시교육청,강남구,학원,3000043003,(주)산에듀김영준국어논술전문프리미엄관학원,20221230,20221230,개원,,...,보습·논술,보습·논술,,Y,N,서울특별시 강남구 선릉로62길 32-2,", 5층 (대치동, 대아빌딩)",6207,NaN,20240908

In [37]:
academy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136616 entries, 0 to 136615
Data columns (total 25 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   시도교육청코드     136616 non-null  object
 1   시도교육청명      136616 non-null  object
 2   행정구역명       136474 non-null  object
 3   학원교습소구분명    136616 non-null  object
 4   학원지정번호      136616 non-null  int64
 5   학원명         136616 non-null  object
 6   개설일자        136616 non-null  object
 7   등록일자        136616 non-null  int64
 8   등록상태명       136616 non-null  object
 9   휴원시작일자      136616 non-null  object
 10  휴원종료일자      136616 non-null  object
 11  정원합계        136616 non-null  int64
 12  일시수용능력인원합계  136616 non-null  int64
 13  분야명         136612 non-null  object
 14  교습계열명       119566 non-null  object
 15  교습과정목록명     99036 non-null   object
 16  교습과정명       119591 non-null  object
 17  인당수강료내용     136616 non-null  object
 18  수강료공개여부     136616 non-null  object
 19  기숙사학원여부     136616 non-null  object
 20  시설도로명주소     136616 non-null  object
 21  시설도로명상세주소   136616 non-null  object
 22  시설도로명우편번호   136616 non-null  object
 23  전화번호        82074 non-null   object
 24  수정일자        136616 non-null  int64
dtypes: int64(5), object(20)
memory usage: 26.1+ MB

In [38]:
academy['시설도로명우편번호'] = academy['시설도로명우편번호'].apply(lambda x : str(x).strip())

### 우편번호 패턴 파악

In [39]:
# 신우편번호 범위
print(address_df['우편번호'].min())
print(address_df['우편번호'].max())

1000
63644

In [40]:
# 구우편번호 범위
print(old_address_df['우편번호'].min())
print(old_address_df['우편번호'].max())

100011
799823

In [41]:
new_pc_academy = academy[(academy['시설도로명우편번호'].str.len() == 4) | (academy['시설도로명우편번호'].str.len() == 5)]
new_pc_academy

,시도교육청코드,시도교육청명,행정구역명,학원교습소구분명,학원지정번호,학원명,개설일자,등록일자,등록상태명,휴원시작일자,...,교습과정목록명,교습과정명,인당수강료내용,수강료공개여부,기숙사학원여부,시설도로명주소,시설도로명상세주소,시설도로명우편번호,전화번호,수정일자
0,B10,서울특별시교육청,강남구,학원,3000040160,대치학원,20211111,20211111,개원,,...,보습·논술,보습·논술,,Y,N,서울특별시 강남구 삼성로 347,", 201호 (대치동, 대일빌딩)",6202,02-2135-7135,20240908
1,B10,서울특별시교육청,강남구,학원,3000039285,(A STUDIO)에이스튜디오학원,20210630,20210630,개원,,...,NaN,"연기(연극,뮤지컬,오페라)",,Y,N,서울특별시 강남구 논현로134길 5,", 5층, 6층 (논현동)",6052,02-6013-8112,20231018
2,B10,서울특별시교육청,강남구,학원,2531,(주)멘토르수학전문학원,19950804,19950804,개원,,...,"보습,",보습,,N,N,서울특별시 강남구 남부순환로 2927,", 501호 일부(대치동, 대치 클래시아)",6280,02-564-5002,20240428
4,B10,서울특별시교육청,강남구,학원,3000043003,(주)산에듀김영준국어논술전문프리미엄관학원,20221230,20221230,개원,,...,보습·논술,보습·논술,,Y,N,서울특별시 강남구 선릉로62길 32-2,", 5층 (대치동, 대아빌딩)",6207,NaN,20240908
5,B10,서울특별시교육청,강남구,학원,12776,(주)산에듀김영준국어논술전문학원,20080218,20060113,개원,,...,보습·논술,보습·논술,,N,N,서울특별시 강남구 도곡로 409,", 2층, 5층 1호 (대치동, 타워엠프리스)",6207,02-501-0575,20240908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136611,T10,제주특별자치도교육청,제주시,교습소,3699,화가처럼그리기교습소,20050223,20050223,개원,,...,미술(월600분),미술,,N,N,제주특별자치도 제주시 서광로20길 26,", (도남동)",63201,064-758-3006,20231018
136612,T10,제주특별자치도교육청,제주시,학원,1478,화랑학원,19970307,19970307,개원,,...,"보습,",보습,,Y,N,제주특별자치도 제주시 중앙로 521,", 3층 (아라일동)",63247,064-758-4722,20240825
136613,T10,제주특별자치도교육청,제주시,교습소,3000011860,화북필수학교습소,20200313,20200313,개원,,...,초등수학1,보습,"초등수학1:100000, 초등수학2:130000, 중등수학1:150000, 중등수학...",Y,N,제주특별자치도 제주시 진남로4길 19,", 1층 (화북일동)",63291,NaN,20240512
136614,T10,제주특별자치도교육청,제주시,교습소,3000011504,화원미술교습소,20181001,20180904,개원,,...,"미술(일반,720분)",미술,"미술(일반,720분):90000, 미술(일반, 840분):100000, 미술(일반,...",Y,N,제주특별자치도 제주시 인다9길 9,", 1층 (아라일동)",63247,NaN,20231018
136615,T10,제주특별자치도교육청,제주시,학원,3000011719,흙빚는화가미술학원,20190916,20190826,개원,,...,"미술,",미술,,Y,N,제주특별자치도 제주시 아란5길 13,", 201호 (아라일동)",63237,064-758-0365,20231018

In [42]:
old_pc_academy = academy[academy['시설도로명우편번호'].str.len() == 6]
old_pc_academy

,시도교육청코드,시도교육청명,행정구역명,학원교습소구분명,학원지정번호,학원명,개설일자,등록일자,등록상태명,휴원시작일자,...,교습과정목록명,교습과정명,인당수강료내용,수강료공개여부,기숙사학원여부,시설도로명주소,시설도로명상세주소,시설도로명우편번호,전화번호,수정일자
3,B10,서울특별시교육청,강남구,학원,3000012704,(주)산에듀김영준국어논술전문별관학원,20110415,20110415,개원,,...,보습·논술,보습·논술,,N,N,서울특별시 강남구 선릉로62길 27,", 1~4층 (대치동)",135998,02-501-0575,20240908
9,B10,서울특별시교육청,강남구,학원,21034,(주)지이에스어학원,20080618,20080618,개원,,...,NaN,실용외국어(유아/초·중·고),,N,N,서울특별시 강남구 도곡로 408,디마크빌딩 705 706호 (대치동),135500,02-508-2445,20231018
11,B10,서울특별시교육청,강남구,학원,3000014569,(주)케이미디어텍학원,20120622,20120622,개원,,...,"보습,",NaN,,N,N,서울특별시 강남구 논현로 854,", B동 4층 일부 (신사동,KT신사지사)",135893,02-3448-4500,20231018
18,B10,서울특별시교육청,강남구,학원,3000011152,1-5디자인랩(Designlab)학원,20110607,20110607,개원,,...,NaN,미술,,N,N,서울특별시 강남구 도산대로 406,", 402호 (청담동)",135948,02-3447-1511,20231018
20,B10,서울특별시교육청,강남구,학원,1000035440,21세기수학보습학원,19900111,19900111,개원,,...,NaN,보습,,N,N,서울특별시 강남구 학동로42길 73,2층 (논현동),135832,02-549-6664,20231018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136590,T10,제주특별자치도교육청,제주시,교습소,3000010830,해법영어애월보나스교실교습소,20150706,20150706,개원,,...,영어초등(1400분),보습,"영어초등(1400분):180000, 영어중등(1800분):200000, 영어고등(1...",Y,N,제주특별자치도 제주시 애월읍 애월로 109,", 2층 (애월읍)",695913,064-799-0501,20231018
136591,T10,제주특별자치도교육청,제주시,교습소,3000010203,해법영어이도교습소,20120213,20120213,개원,,...,초등영어(1800분),보습,"초등영어(1800분):200000, 중등영어(2000분):240000, 고등영어(2...",Y,N,제주특별자치도 제주시 구남로4길 8-11,", 1층 (이도이동)",690851,064-723-1789,20240303
136602,T10,제주특별자치도교육청,제주시,학원,1331,형설지공학원,19951215,19951215,개원,,...,"입시,",NaN,,N,N,제주특별자치도 제주시 원노형3길 37,(노형동),690802,064-744-2510,20231018
136608,T10,제주특별자치도교육청,제주시,교습소,3000010148,홍기만영어교습소,20111021,20111021,개원,,...,"영어(초등,2240분)",보습,"영어(초등,2240분):300000, 영어(중등,2145분):300000, 영어심화...",N,N,제주특별자치도 제주시 연북로 74,4층 (연동),690817,064-746-0882,20240616
136610,T10,제주특별자치도교육청,제주시,교습소,3968,화가의집미술교습소,20060217,20060217,개원,,...,"미술(일반,월800분)",미술,"미술(일반,월800분):100000, 미술(일반,월960분):120000, 미술(일...",Y,N,제주특별자치도 제주시 서광로29길 28,", 태광아파트 상가 102호 (이도일동)",690828,064-722-7734,20231018

## 학원데이터 우편번호로 우편번호 데이터에서 주소 추출

In [43]:
new_pc_academy.columns

Index(['시도교육청코드', '시도교육청명', '행정구역명', '학원교습소구분명', '학원지정번호', '학원명', '개설일자',
       '등록일자', '등록상태명', '휴원시작일자', '휴원종료일자', '정원합계', '일시수용능력인원합계', '분야명',
       '교습계열명', '교습과정목록명', '교습과정명', '인당수강료내용', '수강료공개여부', '기숙사학원여부', '시설도로명주소',
       '시설도로명상세주소', '시설도로명우편번호', '전화번호', '수정일자'],
      dtype='object')

In [44]:
new_pc_academy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 109028 entries, 0 to 136615
Data columns (total 25 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   시도교육청코드     109028 non-null  object
 1   시도교육청명      109028 non-null  object
 2   행정구역명       108892 non-null  object
 3   학원교습소구분명    109028 non-null  object
 4   학원지정번호      109028 non-null  int64
 5   학원명         109028 non-null  object
 6   개설일자        109028 non-null  object
 7   등록일자        109028 non-null  int64
 8   등록상태명       109028 non-null  object
 9   휴원시작일자      109028 non-null  object
 10  휴원종료일자      109028 non-null  object
 11  정원합계        109028 non-null  int64
 12  일시수용능력인원합계  109028 non-null  int64
 13  분야명         109024 non-null  object
 14  교습계열명       93264 non-null   object
 15  교습과정목록명     75417 non-null   object
 16  교습과정명       93279 non-null   object
 17  인당수강료내용     109028 non-null  object
 18  수강료공개여부     109028 non-null  object
 19  기숙사학원여부     109028 non-null  object
 20  시설도로명주소     109028 non-null  object
 21  시설도로명상세주소   109028 non-null  object
 22  시설도로명우편번호   109028 non-null  object
 23  전화번호        57193 non-null   object
 24  수정일자        109028 non-null  int64
dtypes: int64(5), object(20)
memory usage: 21.6+ MB

In [45]:
 new_pc_academy['시설도로명우편번호'] = new_pc_academy['시설도로명우편번호'].astype(int)

C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\421805013.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_pc_academy['시설도로명우편번호'] = new_pc_academy['시설도로명우편번호'].astype(int)

In [46]:
new_pc_academy = pd.merge(new_pc_academy, address_df, how = 'left', left_on = '시설도로명우편번호', right_on = '우편번호')
new_pc_academy

,시도교육청코드,시도교육청명,행정구역명,학원교습소구분명,학원지정번호,학원명,개설일자,등록일자,등록상태명,휴원시작일자,...,시설도로명주소,시설도로명상세주소,시설도로명우편번호,전화번호,수정일자,우편번호,시도,시군구,읍면동,리
0,B10,서울특별시교육청,강남구,학원,3000040160,대치학원,20211111,20211111,개원,,...,서울특별시 강남구 삼성로 347,", 201호 (대치동, 대일빌딩)",6202,02-2135-7135,20240908,6202.0,서울특별시,강남구,대치동,
1,B10,서울특별시교육청,강남구,학원,3000039285,(A STUDIO)에이스튜디오학원,20210630,20210630,개원,,...,서울특별시 강남구 논현로134길 5,", 5층, 6층 (논현동)",6052,02-6013-8112,20231018,6052.0,서울특별시,강남구,논현동,
2,B10,서울특별시교육청,강남구,학원,2531,(주)멘토르수학전문학원,19950804,19950804,개원,,...,서울특별시 강남구 남부순환로 2927,", 501호 일부(대치동, 대치 클래시아)",6280,02-564-5002,20240428,6280.0,서울특별시,강남구,대치동,
3,B10,서울특별시교육청,강남구,학원,3000043003,(주)산에듀김영준국어논술전문프리미엄관학원,20221230,20221230,개원,,...,서울특별시 강남구 선릉로62길 32-2,", 5층 (대치동, 대아빌딩)",6207,NaN,20240908,6207.0,서울특별시,강남구,대치동,
4,B10,서울특별시교육청,강남구,학원,12776,(주)산에듀김영준국어논술전문학원,20080218,20060113,개원,,...,서울특별시 강남구 도곡로 409,", 2층, 5층 1호 (대치동, 타워엠프리스)",6207,02-501-0575,20240908,6207.0,서울특별시,강남구,대치동,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109023,T10,제주특별자치도교육청,제주시,교습소,3699,화가처럼그리기교습소,20050223,20050223,개원,,...,제주특별자치도 제주시 서광로20길 26,", (도남동)",63201,064-758-3006,20231018,63201.0,제주특별자치도,제주시,도남동,
109024,T10,제주특별자치도교육청,제주시,학원,1478,화랑학원,19970307,19970307,개원,,...,제주특별자치도 제주시 중앙로 521,", 3층 (아라일동)",63247,064-758-4722,20240825,63247.0,제주특별자치도,제주시,아라이동,
109025,T10,제주특별자치도교육청,제주시,교습소,3000011860,화북필수학교습소,20200313,20200313,개원,,...,제주특별자치도 제주시 진남로4길 19,", 1층 (화북일동)",63291,NaN,20240512,63291.0,제주특별자치도,제주시,화북일동,
109026,T10,제주특별자치도교육청,제주시,교습소,3000011504,화원미술교습소,20181001,20180904,개원,,...,제주특별자치도 제주시 인다9길 9,", 1층 (아라일동)",63247,NaN,20231018,63247.0,제주특별자치도,제주시,아라이동,
109027,T10,제주특별자치도교육청,제주시,학원,3000011719,흙빚는화가미술학원,20190916,20190826,개원,,...,제주특별자치도 제주시 아란5길 13,", 201호 (아라일동)",63237,064-758-0365,20231018,63237.0,제주특별자치도,제주시,아라일동,

In [47]:
old_pc_academy['시설도로명우편번호'] = old_pc_academy['시설도로명우편번호'].astype(int)

C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\2064375465.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  old_pc_academy['시설도로명우편번호'] = old_pc_academy['시설도로명우편번호'].astype(int)

In [48]:
old_pc_academy = pd.merge(old_pc_academy, old_address_df, how = 'left', left_on = '시설도로명우편번호', right_on = '우편번호')
old_pc_academy

,시도교육청코드,시도교육청명,행정구역명,학원교습소구분명,학원지정번호,학원명,개설일자,등록일자,등록상태명,휴원시작일자,...,시설도로명주소,시설도로명상세주소,시설도로명우편번호,전화번호,수정일자,우편번호,시도,시군구,읍면동,리
0,B10,서울특별시교육청,강남구,학원,3000012704,(주)산에듀김영준국어논술전문별관학원,20110415,20110415,개원,,...,서울특별시 강남구 선릉로62길 27,", 1~4층 (대치동)",135998,02-501-0575,20240908,135998.0,서울특별시,강남구,대치4동,
1,B10,서울특별시교육청,강남구,학원,21034,(주)지이에스어학원,20080618,20080618,개원,,...,서울특별시 강남구 도곡로 408,디마크빌딩 705 706호 (대치동),135500,02-508-2445,20231018,135500.0,서울특별시,강남구,대치1동,
2,B10,서울특별시교육청,강남구,학원,3000014569,(주)케이미디어텍학원,20120622,20120622,개원,,...,서울특별시 강남구 논현로 854,", B동 4층 일부 (신사동,KT신사지사)",135893,02-3448-4500,20231018,135893.0,서울특별시,강남구,신사동,
3,B10,서울특별시교육청,강남구,학원,3000011152,1-5디자인랩(Designlab)학원,20110607,20110607,개원,,...,서울특별시 강남구 도산대로 406,", 402호 (청담동)",135948,02-3447-1511,20231018,135948.0,서울특별시,강남구,청담동,
4,B10,서울특별시교육청,강남구,학원,1000035440,21세기수학보습학원,19900111,19900111,개원,,...,서울특별시 강남구 학동로42길 73,2층 (논현동),135832,02-549-6664,20231018,135832.0,서울특별시,강남구,논현2동,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27503,T10,제주특별자치도교육청,제주시,교습소,3000010830,해법영어애월보나스교실교습소,20150706,20150706,개원,,...,제주특별자치도 제주시 애월읍 애월로 109,", 2층 (애월읍)",695913,064-799-0501,20231018,695913.0,제주특별자치도,제주시,애월읍,애월리
27504,T10,제주특별자치도교육청,제주시,교습소,3000010203,해법영어이도교습소,20120213,20120213,개원,,...,제주특별자치도 제주시 구남로4길 8-11,", 1층 (이도이동)",690851,064-723-1789,20240303,690851.0,제주특별자치도,제주시,이도이동,
27505,T10,제주특별자치도교육청,제주시,학원,1331,형설지공학원,19951215,19951215,개원,,...,제주특별자치도 제주시 원노형3길 37,(노형동),690802,064-744-2510,20231018,690802.0,제주특별자치도,제주시,노형동,
27506,T10,제주특별자치도교육청,제주시,교습소,3000010148,홍기만영어교습소,20111021,20111021,개원,,...,제주특별자치도 제주시 연북로 74,4층 (연동),690817,064-746-0882,20240616,690817.0,제주특별자치도,제주시,연동,
27507,T10,제주특별자치도교육청,제주시,교습소,3968,화가의집미술교습소,20060217,20060217,개원,,...,제주특별자치도 제주시 서광로29길 28,", 태광아파트 상가 102호 (이도일동)",690828,064-722-7734,20231018,690828.0,제주특별자치도,제주시,이도일동,

In [49]:
merged_academy = pd.concat([new_pc_academy, old_pc_academy])
merged_academy

,시도교육청코드,시도교육청명,행정구역명,학원교습소구분명,학원지정번호,학원명,개설일자,등록일자,등록상태명,휴원시작일자,...,시설도로명주소,시설도로명상세주소,시설도로명우편번호,전화번호,수정일자,우편번호,시도,시군구,읍면동,리
0,B10,서울특별시교육청,강남구,학원,3000040160,대치학원,20211111,20211111,개원,,...,서울특별시 강남구 삼성로 347,", 201호 (대치동, 대일빌딩)",6202,02-2135-7135,20240908,6202.0,서울특별시,강남구,대치동,
1,B10,서울특별시교육청,강남구,학원,3000039285,(A STUDIO)에이스튜디오학원,20210630,20210630,개원,,...,서울특별시 강남구 논현로134길 5,", 5층, 6층 (논현동)",6052,02-6013-8112,20231018,6052.0,서울특별시,강남구,논현동,
2,B10,서울특별시교육청,강남구,학원,2531,(주)멘토르수학전문학원,19950804,19950804,개원,,...,서울특별시 강남구 남부순환로 2927,", 501호 일부(대치동, 대치 클래시아)",6280,02-564-5002,20240428,6280.0,서울특별시,강남구,대치동,
3,B10,서울특별시교육청,강남구,학원,3000043003,(주)산에듀김영준국어논술전문프리미엄관학원,20221230,20221230,개원,,...,서울특별시 강남구 선릉로62길 32-2,", 5층 (대치동, 대아빌딩)",6207,NaN,20240908,6207.0,서울특별시,강남구,대치동,
4,B10,서울특별시교육청,강남구,학원,12776,(주)산에듀김영준국어논술전문학원,20080218,20060113,개원,,...,서울특별시 강남구 도곡로 409,", 2층, 5층 1호 (대치동, 타워엠프리스)",6207,02-501-0575,20240908,6207.0,서울특별시,강남구,대치동,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27503,T10,제주특별자치도교육청,제주시,교습소,3000010830,해법영어애월보나스교실교습소,20150706,20150706,개원,,...,제주특별자치도 제주시 애월읍 애월로 109,", 2층 (애월읍)",695913,064-799-0501,20231018,695913.0,제주특별자치도,제주시,애월읍,애월리
27504,T10,제주특별자치도교육청,제주시,교습소,3000010203,해법영어이도교습소,20120213,20120213,개원,,...,제주특별자치도 제주시 구남로4길 8-11,", 1층 (이도이동)",690851,064-723-1789,20240303,690851.0,제주특별자치도,제주시,이도이동,
27505,T10,제주특별자치도교육청,제주시,학원,1331,형설지공학원,19951215,19951215,개원,,...,제주특별자치도 제주시 원노형3길 37,(노형동),690802,064-744-2510,20231018,690802.0,제주특별자치도,제주시,노형동,
27506,T10,제주특별자치도교육청,제주시,교습소,3000010148,홍기만영어교습소,20111021,20111021,개원,,...,제주특별자치도 제주시 연북로 74,4층 (연동),690817,064-746-0882,20240616,690817.0,제주특별자치도,제주시,연동,
27507,T10,제주특별자치도교육청,제주시,교습소,3968,화가의집미술교습소,20060217,20060217,개원,,...,제주특별자치도 제주시 서광로29길 28,", 태광아파트 상가 102호 (이도일동)",690828,064-722-7734,20231018,690828.0,제주특별자치도,제주시,이도일동,

In [50]:
merged_academy = merged_academy.drop(merged_academy[merged_academy['우편번호'].isna() == True].index)
merged_academy

,시도교육청코드,시도교육청명,행정구역명,학원교습소구분명,학원지정번호,학원명,개설일자,등록일자,등록상태명,휴원시작일자,...,시설도로명주소,시설도로명상세주소,시설도로명우편번호,전화번호,수정일자,우편번호,시도,시군구,읍면동,리
0,B10,서울특별시교육청,강남구,학원,3000040160,대치학원,20211111,20211111,개원,,...,서울특별시 강남구 삼성로 347,", 201호 (대치동, 대일빌딩)",6202,02-2135-7135,20240908,6202.0,서울특별시,강남구,대치동,
1,B10,서울특별시교육청,강남구,학원,3000039285,(A STUDIO)에이스튜디오학원,20210630,20210630,개원,,...,서울특별시 강남구 논현로134길 5,", 5층, 6층 (논현동)",6052,02-6013-8112,20231018,6052.0,서울특별시,강남구,논현동,
2,B10,서울특별시교육청,강남구,학원,2531,(주)멘토르수학전문학원,19950804,19950804,개원,,...,서울특별시 강남구 남부순환로 2927,", 501호 일부(대치동, 대치 클래시아)",6280,02-564-5002,20240428,6280.0,서울특별시,강남구,대치동,
3,B10,서울특별시교육청,강남구,학원,3000043003,(주)산에듀김영준국어논술전문프리미엄관학원,20221230,20221230,개원,,...,서울특별시 강남구 선릉로62길 32-2,", 5층 (대치동, 대아빌딩)",6207,NaN,20240908,6207.0,서울특별시,강남구,대치동,
4,B10,서울특별시교육청,강남구,학원,12776,(주)산에듀김영준국어논술전문학원,20080218,20060113,개원,,...,서울특별시 강남구 도곡로 409,", 2층, 5층 1호 (대치동, 타워엠프리스)",6207,02-501-0575,20240908,6207.0,서울특별시,강남구,대치동,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27503,T10,제주특별자치도교육청,제주시,교습소,3000010830,해법영어애월보나스교실교습소,20150706,20150706,개원,,...,제주특별자치도 제주시 애월읍 애월로 109,", 2층 (애월읍)",695913,064-799-0501,20231018,695913.0,제주특별자치도,제주시,애월읍,애월리
27504,T10,제주특별자치도교육청,제주시,교습소,3000010203,해법영어이도교습소,20120213,20120213,개원,,...,제주특별자치도 제주시 구남로4길 8-11,", 1층 (이도이동)",690851,064-723-1789,20240303,690851.0,제주특별자치도,제주시,이도이동,
27505,T10,제주특별자치도교육청,제주시,학원,1331,형설지공학원,19951215,19951215,개원,,...,제주특별자치도 제주시 원노형3길 37,(노형동),690802,064-744-2510,20231018,690802.0,제주특별자치도,제주시,노형동,
27506,T10,제주특별자치도교육청,제주시,교습소,3000010148,홍기만영어교습소,20111021,20111021,개원,,...,제주특별자치도 제주시 연북로 74,4층 (연동),690817,064-746-0882,20240616,690817.0,제주특별자치도,제주시,연동,
27507,T10,제주특별자치도교육청,제주시,교습소,3968,화가의집미술교습소,20060217,20060217,개원,,...,제주특별자치도 제주시 서광로29길 28,", 태광아파트 상가 102호 (이도일동)",690828,064-722-7734,20231018,690828.0,제주특별자치도,제주시,이도일동,

## 시군구 읍명동 별 학원 수

In [51]:
academy_num = merged_academy.groupby(['시도', '시군구', '읍면동', '리'])[['학원지정번호']].count()
academy_num

                   학원지정번호
시도   시군구 읍면동 리
강원도  고성군 간성읍 간촌리        1
             금수리        2
         거진읍 거진1리       1
     동해시 천곡동            1
     원주시 원동             1
...                   ...
충청북도 충주시 용산동           65
         주덕읍 삼청리        2
         지현동            8
         칠금동           54
         호암동           74

[4501 rows x 1 columns]

In [52]:
academy_num = academy_num.reset_index()
academy_num = academy_num.rename(columns = {'학원지정번호' : '학원수'})
academy_num

        시도  시군구  읍면동     리  학원수
0      강원도  고성군  간성읍   간촌리    1
1      강원도  고성군  간성읍   금수리    2
2      강원도  고성군  거진읍  거진1리    1
3      강원도  동해시  천곡동          1
4      강원도  원주시   원동          1
...    ...  ...  ...   ...  ...
4496  충청북도  충주시  용산동         65
4497  충청북도  충주시  주덕읍   삼청리    2
4498  충청북도  충주시  지현동          8
4499  충청북도  충주시  칠금동         54
4500  충청북도  충주시  호암동         74

[4501 rows x 5 columns]

# 전국 부동산 매매 데이터

In [53]:
# CSV 파일이 있는 디렉토리 경로
path = glob('../과제/model/apartment_1999_202408/*.csv')  # 여기에 디렉토리 경로를 입력하세요

In [54]:
apart_df = pd.DataFrame()
for link in path :
    temp = pd.read_csv(link, encoding='cp949', header = 15)
    apart_df = pd.concat([apart_df, temp], ignore_index=True)
apart_df

C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  apart_df = pd.concat([apart_df, temp], ignore_index=True)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  apart_df = pd.concat([apart_df, temp], ignore_index=True)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:4: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  apart_df = pd.concat([apart_df, temp], ignore_index=True)

C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)
C:\Users\5-08\AppData\Local\Temp\ipykernel_8800\678637869.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(link, encoding='cp949', header = 15)

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,...,도로명,해제사유발생일,등기신청일자,거래유형,중개사소재지,NO,동,매수자,매도자,등기일자
0,강원특별자치도 양구군 양구읍 상리,510,510,0,경림,59.4000,200509,23,"5,000",11,...,양록길23번길 11,NaN,,-,-,NaN,NaN,NaN,NaN,NaN
1,경기도 의정부시 민락동,756-7,756,7,한라비발디,84.9900,200510,30,"12,750",19,...,오목로 73,NaN,,-,-,NaN,NaN,NaN,NaN,NaN
2,경기도 의정부시 신곡동,456,456,0,신일1,59.8780,200510,20,"5,750",3,...,시민로245번길 10,NaN,,-,-,NaN,NaN,NaN,NaN,NaN
3,경기도 의정부시 신곡동,727-1,727,1,풍림,49.8300,200510,20,"5,500",8,...,회룡로 245,NaN,,-,-,NaN,NaN,NaN,NaN,NaN
4,경기도 의정부시 용현동,46,46,0,용현현대1차,129.7300,200511,21,"12,200",11,...,오목로 36,NaN,,-,-,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10041446,인천광역시 서구 당하동,1090-1,1090,1,검단힐스테이트4차,107.4423,202408,1,"52,000",8,...,청마로 92,-,NaN,중개거래,인천 서구,41073.0,-,개인,개인,-
10041447,경기도 수원시 권선구 세류동,1255,1255,0,권선어울림,120.4100,202408,1,"58,800",9,...,세권로43번길 26-6,-,NaN,중개거래,경기 수원시 권선구,41074.0,-,개인,개인,-
10041448,울산광역시 울주군 온양읍 망양리,가-5-1,5,1,회야리버,39.7150,202408,1,"7,000",4,...,원동2길 19-2,-,NaN,직거래,-,41075.0,101,개인,개인,24.08.02
10041449,대전광역시 서구 둔산동,1510,1510,0,목련,101.8300,202408,1,"98,500",1,...,둔산남로 127,-,NaN,중개거래,대전 서구,41076.0,-,개인,개인,-
10041450,인천광역시 서구 마전동,925,925,0,서해,59.9700,202408,1,"15,800",2,...,검단로487번안길 16,-,NaN,중개거래,인천 서구,41077.0,-,개인,개인,-