## 1. 전국 아파트 매매 데이터 1999-2024 합치기
## 2. database에서 1999-2024 USD 환율정보 가져와 합치기
## 3. 전국 학원 정보 가져와서 합치기 (시군구 단위)
## 4. 금리 정보 합치기
## 5. 회귀분석으로 집값 예측하기

In [18]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import glob
import os

In [16]:
# 하나 불러와서 해보기
df = pd.read_csv('./model/apartment_1999_202408/1999_01.csv', encoding='euc-kr', engine='python', skiprows=15)

In [17]:
# 불러온 거 확인해보기
df

Empty DataFrame
Columns: [시군구, 번지, 본번, 부번, 단지명, 전용면적(㎡), 계약년월, 계약일, 거래금액(만원), 층, 건축년도, 도로명, 해제사유발생일, 등기신청일자, 거래유형, 중개사소재지]
Index: []

In [19]:
# CSV 파일이 있는 디렉토리 경로
path = './model/apartment_1999_202408/'  # 여기에 디렉토리 경로를 입력하세요
all_files = glob.glob(os.path.join(path, "*.csv"))  # .csv 확장자 파일 목록

In [21]:
# 모든 CSV 파일을 읽어와서 리스트에 저장
df_list = []
for filename in all_files:
    df = pd.read_csv(filename, encoding='euc-kr', engine='python', skiprows=15)  # 필요 시 인코딩 변경
    df_list.append(df)

# 데이터프레임 합치기
combined_df = pd.concat(df_list, ignore_index=True)

C:\Users\5-08\AppData\Local\Temp\ipykernel_6680\596479068.py:8: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat(df_list, ignore_index=True)

In [22]:
# head로 확인해보기
combined_df.head()

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,...,도로명,해제사유발생일,등기신청일자,거래유형,중개사소재지,NO,동,매수자,매도자,등기일자
0,강원특별자치도 양구군 양구읍 상리,510,510,0.0,경림,59.400,200509,23,"5,000",11,...,양록길23번길 11,NaN,,-,-,NaN,NaN,NaN,NaN,NaN
1,경기도 의정부시 민락동,756-7,756,7.0,한라비발디,84.990,200510,30,"12,750",19,...,오목로 73,NaN,,-,-,NaN,NaN,NaN,NaN,NaN
2,경기도 의정부시 신곡동,456,456,0.0,신일1,59.878,200510,20,"5,750",3,...,시민로245번길 10,NaN,,-,-,NaN,NaN,NaN,NaN,NaN
3,경기도 의정부시 신곡동,727-1,727,1.0,풍림,49.830,200510,20,"5,500",8,...,회룡로 245,NaN,,-,-,NaN,NaN,NaN,NaN,NaN
4,경기도 의정부시 용현동,46,46,0.0,용현현대1차,129.730,200511,21,"12,200",11,...,오목로 36,NaN,,-,-,NaN,NaN,NaN,NaN,NaN

In [23]:
# info 확인해보기
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10041451 entries, 0 to 10041450
Data columns (total 21 columns):
 #   Column    Dtype
---  ------    -----
 0   시군구       object
 1   번지        object
 2   본번        object
 3   부번        float64
 4   단지명       object
 5   전용면적(㎡)   float64
 6   계약년월      object
 7   계약일       object
 8   거래금액(만원)  object
 9   층         object
 10  건축년도      float64
 11  도로명       object
 12  해제사유발생일   object
 13  등기신청일자    object
 14  거래유형      object
 15  중개사소재지    object
 16  NO        float64
 17  동         object
 18  매수자       object
 19  매도자       object
 20  등기일자      object
dtypes: float64(4), object(17)
memory usage: 1.6+ GB

### 중복 데이터 확인해보기

In [105]:
# 중복 확인해보기
combined_df[combined_df.duplicated(keep=False)]

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,...,도로명,해제사유발생일,등기신청일자,거래유형,중개사소재지,NO,동,매수자,매도자,등기일자
6,강원특별자치도 강릉시 견소동,202,202,0.0,송정한신,84.9450,200701,4,"8,000",15,...,경강로2539번길 8,NaN,,-,-,NaN,NaN,NaN,NaN,NaN
7,강원특별자치도 강릉시 견소동,202,202,0.0,송정한신,84.9300,200701,8,"8,100",7,...,경강로2539번길 8,NaN,,-,-,NaN,NaN,NaN,NaN,NaN
8,강원특별자치도 강릉시 견소동,202,202,0.0,송정한신,84.9450,200701,8,"8,200",14,...,경강로2539번길 8,NaN,,-,-,NaN,NaN,NaN,NaN,NaN
9,강원특별자치도 강릉시 견소동,202,202,0.0,송정한신,84.9450,200701,25,"7,900",15,...,경강로2539번길 8,NaN,,-,-,NaN,NaN,NaN,NaN,NaN
10,강원특별자치도 강릉시 견소동,202,202,0.0,송정한신,84.9300,200701,31,"6,000",4,...,경강로2539번길 8,NaN,,-,-,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9595138,충청북도 청주청원구 사천동,25-2,0025,2.0,정도드림-빌,29.9200,202308,28,"6,500",9,...,공항로 159-12,NaN,,중개거래,충북 청주서원구,NaN,NaN,NaN,NaN,NaN
9595554,충청북도 충주시 대소원면 본리,645,0645,0.0,충주코아루퍼스트아파트,59.3554,202308,3,"15,000",2,...,첨단산업4로 24,NaN,20230825,중개거래,충북 충주시,NaN,NaN,NaN,NaN,NaN
9595555,충청북도 충주시 대소원면 본리,645,0645,0.0,충주코아루퍼스트아파트,59.3554,202308,3,"15,000",2,...,첨단산업4로 24,NaN,20230825,중개거래,충북 충주시,NaN,NaN,NaN,NaN,NaN
9595700,충청북도 충주시 중앙탑면 용전리,656,0656,0.0,미진이지비아,59.9903,202308,25,"17,200",11,...,기업도시로 189,NaN,,중개거래,충북 충주시,NaN,NaN,NaN,NaN,NaN
9595701,충청북도 충주시 중앙탑면 용전리,656,0656,0.0,미진이지비아,59.9903,202308,25,"17,200",11,...,기업도시로 189,NaN,,중개거래,충북 충주시,NaN,NaN,NaN,NaN,NaN

In [119]:
# 중복 확인해보기 더 자세히
combined_df[(combined_df.index == 9595554) | (combined_df.index == 9595555)]

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,...,도로명,해제사유발생일,등기신청일자,거래유형,중개사소재지,NO,동,매수자,매도자,등기일자
9595554,충청북도 충주시 대소원면 본리,645,0645,0.0,충주코아루퍼스트아파트,59.3554,202308,3,"15,000",2,...,첨단산업4로 24,NaN,20230825,중개거래,충북 충주시,NaN,NaN,NaN,NaN,NaN
9595555,충청북도 충주시 대소원면 본리,645,0645,0.0,충주코아루퍼스트아파트,59.3554,202308,3,"15,000",2,...,첨단산업4로 24,NaN,20230825,중개거래,충북 충주시,NaN,NaN,NaN,NaN,NaN

### 중복확인 결과
- 중복이 아님에도 중복으로 처리하는 경우가 있고
- 실제로 모든 컬럼이 중복인 행도 있는데
    - 이 경우 동일인이 동일 중개사를 거쳐 같은 층에 있는 사무실 혹은 부지를 구매했다고 생각할 수 있어
- 중복으로 보지 않기로 함

In [26]:
# 컬럼 수 확인하기
combined_df.columns

Index(['시군구', '번지', '본번', '부번', '단지명', '전용면적(㎡)', '계약년월', '계약일', '거래금액(만원)',
       '층', '건축년도', '도로명', '해제사유발생일', '등기신청일자', '거래유형', '중개사소재지', 'NO', '동',
       '매수자', '매도자', '등기일자'],
      dtype='object')

In [48]:
# 쓸 컬럼만 가져와서 데이터프레임 만들기
data = combined_df[['시군구', '단지명', '전용면적(㎡)', '거래금액(만원)', '층', '건축년도', '계약년월', '계약일']]

In [29]:
# 데이터 확인하기
data

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,계약년월,계약일
0,강원특별자치도 양구군 양구읍 상리,경림,59.4000,"5,000",11,1998.0,200509,23
1,경기도 의정부시 민락동,한라비발디,84.9900,"12,750",19,2003.0,200510,30
2,경기도 의정부시 신곡동,신일1,59.8780,"5,750",3,1997.0,200510,20
3,경기도 의정부시 신곡동,풍림,49.8300,"5,500",8,1998.0,200510,20
4,경기도 의정부시 용현동,용현현대1차,129.7300,"12,200",11,1992.0,200511,21
...,...,...,...,...,...,...,...,...
10041446,인천광역시 서구 당하동,검단힐스테이트4차,107.4423,"52,000",8,2012.0,202408,1
10041447,경기도 수원시 권선구 세류동,권선어울림,120.4100,"58,800",9,2010.0,202408,1
10041448,울산광역시 울주군 온양읍 망양리,회야리버,39.7150,"7,000",4,2000.0,202408,1
10041449,대전광역시 서구 둔산동,목련,101.8300,"98,500",1,1993.0,202408,1
10041450,인천광역시 서구 마전동,서해,59.9700,"15,800",2,1992.0,202408,1

In [31]:
# 결측값 확인
data[data.isna()].sum()

시군구           0
단지명           0
전용면적(㎡)     0.0
거래금액(만원)      0
층             0
건축년도        0.0
계약년월          0
계약일           0
dtype: object

In [49]:
# 계약년월을 날짜 형식으로 변환 후 원하는 형식으로 재포맷
data['계약년월'] = data['계약년월'].astype(str)
data['계약일'] = data['계약일'].astype(str)
data['계약년월'] = data['계약년월'].str[:4] + '-' + data['계약년월'].str[4:]
data['date'] = data['계약년월'] + data['계약일']
data.head()

C:\Users\5-08\AppData\Local\Temp\ipykernel_6680\4099027193.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['계약년월'] = data['계약년월'].astype(str)
C:\Users\5-08\AppData\Local\Temp\ipykernel_6680\4099027193.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['계약일'] = data['계약일'].astype(str)
C:\Users\5-08\AppData\Local\Temp\ipykernel_6680\4099027193.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['계약년월'] = data['계약년월'].str[:4] + '-' + data['계약년월'].str[4:]
C:\Users\5-08\AppData\Local\Temp\ipykernel_6680\4099027193.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['date'] = data['계약년월'] + data['계약일']

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,계약년월,계약일,date
0,강원특별자치도 양구군 양구읍 상리,경림,59.400,"5,000",11,1998.0,2005-09,23,2005-0923
1,경기도 의정부시 민락동,한라비발디,84.990,"12,750",19,2003.0,2005-10,30,2005-1030
2,경기도 의정부시 신곡동,신일1,59.878,"5,750",3,1997.0,2005-10,20,2005-1020
3,경기도 의정부시 신곡동,풍림,49.830,"5,500",8,1998.0,2005-10,20,2005-1020
4,경기도 의정부시 용현동,용현현대1차,129.730,"12,200",11,1992.0,2005-11,21,2005-1121

In [50]:
# 계약일과 계약년월을 합친 걸 사이에 '-' 넣기
data['date'] = data['date'].str[:7] + '-' + data['date'].str[7:]
data.head()

C:\Users\5-08\AppData\Local\Temp\ipykernel_6680\2113094280.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['date'] = data['date'].str[:7] + '-' + data['date'].str[7:]

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,계약년월,계약일,date
0,강원특별자치도 양구군 양구읍 상리,경림,59.400,"5,000",11,1998.0,2005-09,23,2005-09-23
1,경기도 의정부시 민락동,한라비발디,84.990,"12,750",19,2003.0,2005-10,30,2005-10-30
2,경기도 의정부시 신곡동,신일1,59.878,"5,750",3,1997.0,2005-10,20,2005-10-20
3,경기도 의정부시 신곡동,풍림,49.830,"5,500",8,1998.0,2005-10,20,2005-10-20
4,경기도 의정부시 용현동,용현현대1차,129.730,"12,200",11,1992.0,2005-11,21,2005-11-21

In [51]:
# 데이터 타입 변경하기
data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10041451 entries, 0 to 10041450
Data columns (total 9 columns):
 #   Column    Dtype
---  ------    -----
 0   시군구       object
 1   단지명       object
 2   전용면적(㎡)   float64
 3   거래금액(만원)  object
 4   층         object
 5   건축년도      float64
 6   계약년월      object
 7   계약일       object
 8   date      datetime64[ns]
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 689.5+ MB

C:\Users\5-08\AppData\Local\Temp\ipykernel_6680\2302902812.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d')

In [52]:
data.head()

,시군구,단지명,전용면적(㎡),거래금액(만원),층,건축년도,계약년월,계약일,date
0,강원특별자치도 양구군 양구읍 상리,경림,59.400,"5,000",11,1998.0,2005-09,23,2005-09-23
1,경기도 의정부시 민락동,한라비발디,84.990,"12,750",19,2003.0,2005-10,30,2005-10-30
2,경기도 의정부시 신곡동,신일1,59.878,"5,750",3,1997.0,2005-10,20,2005-10-20
3,경기도 의정부시 신곡동,풍림,49.830,"5,500",8,1998.0,2005-10,20,2005-10-20
4,경기도 의정부시 용현동,용현현대1차,129.730,"12,200",11,1992.0,2005-11,21,2005-11-21

In [54]:
data = data.drop(['계약년월', '계약일'], axis = 1)

In [64]:
data['시군구'].apply(lambda x : ' '.join(x.split(' ')[:2]))

0           강원특별자치도 양구군
1              경기도 의정부시
2              경기도 의정부시
3              경기도 의정부시
4              경기도 의정부시
               ...
10041446       인천광역시 서구
10041447        경기도 수원시
10041448      울산광역시 울주군
10041449       대전광역시 서구
10041450       인천광역시 서구
Name: 시군구, Length: 10041451, dtype: object

In [66]:
data['시군구'].tail(50)

10041401         울산광역시 북구 천곡동
10041402      경기도 수원시 장안구 파장동
10041403         경기도 의정부시 가능동
10041404         경기도 의정부시 가능동
10041405         경기도 의정부시 가능동
10041406    울산광역시 울주군 삼남읍 방기리
10041407      경기도 수원시 팔달구 인계동
10041408      경기도 수원시 장안구 파장동
10041409        대전광역시 유성구 덕명동
10041410         경기도 의정부시 신곡동
10041411        대전광역시 유성구 도룡동
10041412     경기도 성남시 중원구 상대원동
10041413         인천광역시 서구 청라동
10041414         경기도 의정부시 신곡동
10041415         광주광역시 서구 마륵동
10041416        인천광역시 연수구 선학동
10041417        광주광역시 광산구 수완동
10041418         인천광역시 서구 청라동
10041419        인천광역시 남동구 논현동
10041420      경기도 성남시 중원구 은행동
10041421       인천광역시 미추홀구 학익동
10041422        광주광역시 광산구 수완동
10041423       인천광역시 미추홀구 학익동
10041424         광주광역시 동구 운림동
10041425        인천광역시 남동구 논현동
10041426        대전광역시 대덕구 비래동
10041427        대전광역시 대덕구 비래동
10041428        인천광역시 연수구 연수동
10041429         울산광역시 북구 천곡동
10041430        인천광역시 남동구 도림동
10041431         광주광역시 남구 백운동
10041432         울산광역시 북구 송정동
10041433    대구광역시 달성군 다사읍 죽곡리
10041434    울산광역시 울주군 온양읍 대안리
10041435         광주광역시 서구 풍암동
10041436         광주광역시 서구 치평동
10041437        인천광역시 연수구 동춘동
10041438         울산광역시 남구 야음동
10041439         울산광역시 남구 야음동
10041440         울산광역시 남구 야음동
10041441         울산광역시 남구 야음동
10041442         울산광역시 남구 야음동
10041443          울산광역시 남구 옥동
10041444        인천광역시 연수구 연수동
10041445         광주광역시 남구 백운동
10041446         인천광역시 서구 당하동
10041447      경기도 수원시 권선구 세류동
10041448    울산광역시 울주군 온양읍 망양리
10041449         대전광역시 서구 둔산동
10041450         인천광역시 서구 마전동
Name: 시군구, dtype: object

## 학원데이터 전처리

In [191]:
aca = pd.read_csv('./model/academy.csv', encoding = 'cp949')

C:\Users\5-08\AppData\Local\Temp\ipykernel_6680\2239943194.py:1: DtypeWarning: Columns (6,22) have mixed types. Specify dtype option on import or set low_memory=False.
  aca = pd.read_csv('./model/academy.csv', encoding = 'cp949')

In [192]:
aca

,시도교육청코드,시도교육청명,행정구역명,학원교습소구분명,학원지정번호,학원명,개설일자,등록일자,등록상태명,휴원시작일자,...,교습과정목록명,교습과정명,인당수강료내용,수강료공개여부,기숙사학원여부,시설도로명주소,시설도로명상세주소,시설도로명우편번호,전화번호,수정일자
0,B10,서울특별시교육청,강남구,학원,3000040160,대치학원,20211111,20211111,개원,,...,보습·논술,보습·논술,,Y,N,서울특별시 강남구 삼성로 347,", 201호 (대치동, 대일빌딩)",6202,02-2135-7135,20240908
1,B10,서울특별시교육청,강남구,학원,3000039285,(A STUDIO)에이스튜디오학원,20210630,20210630,개원,,...,NaN,"연기(연극,뮤지컬,오페라)",,Y,N,서울특별시 강남구 논현로134길 5,", 5층, 6층 (논현동)",6052,02-6013-8112,20231018
2,B10,서울특별시교육청,강남구,학원,2531,(주)멘토르수학전문학원,19950804,19950804,개원,,...,"보습,",보습,,N,N,서울특별시 강남구 남부순환로 2927,", 501호 일부(대치동, 대치 클래시아)",6280,02-564-5002,20240428
3,B10,서울특별시교육청,강남구,학원,3000012704,(주)산에듀김영준국어논술전문별관학원,20110415,20110415,개원,,...,보습·논술,보습·논술,,N,N,서울특별시 강남구 선릉로62길 27,", 1~4층 (대치동)",135998,02-501-0575,20240908
4,B10,서울특별시교육청,강남구,학원,3000043003,(주)산에듀김영준국어논술전문프리미엄관학원,20221230,20221230,개원,,...,보습·논술,보습·논술,,Y,N,서울특별시 강남구 선릉로62길 32-2,", 5층 (대치동, 대아빌딩)",6207,NaN,20240908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136611,T10,제주특별자치도교육청,제주시,교습소,3699,화가처럼그리기교습소,20050223,20050223,개원,,...,미술(월600분),미술,,N,N,제주특별자치도 제주시 서광로20길 26,", (도남동)",63201,064-758-3006,20231018
136612,T10,제주특별자치도교육청,제주시,학원,1478,화랑학원,19970307,19970307,개원,,...,"보습,",보습,,Y,N,제주특별자치도 제주시 중앙로 521,", 3층 (아라일동)",63247,064-758-4722,20240825
136613,T10,제주특별자치도교육청,제주시,교습소,3000011860,화북필수학교습소,20200313,20200313,개원,,...,초등수학1,보습,"초등수학1:100000, 초등수학2:130000, 중등수학1:150000, 중등수학...",Y,N,제주특별자치도 제주시 진남로4길 19,", 1층 (화북일동)",63291,NaN,20240512
136614,T10,제주특별자치도교육청,제주시,교습소,3000011504,화원미술교습소,20181001,20180904,개원,,...,"미술(일반,720분)",미술,"미술(일반,720분):90000, 미술(일반, 840분):100000, 미술(일반,...",Y,N,제주특별자치도 제주시 인다9길 9,", 1층 (아라일동)",63247,NaN,20231018
136615,T10,제주특별자치도교육청,제주시,학원,3000011719,흙빚는화가미술학원,20190916,20190826,개원,,...,"미술,",미술,,Y,N,제주특별자치도 제주시 아란5길 13,", 201호 (아라일동)",63237,064-758-0365,20231018

In [193]:
aca.columns

Index(['시도교육청코드', '시도교육청명', '행정구역명', '학원교습소구분명', '학원지정번호', '학원명', '개설일자',
       '등록일자', '등록상태명', '휴원시작일자', '휴원종료일자', '정원합계', '일시수용능력인원합계', '분야명',
       '교습계열명', '교습과정목록명', '교습과정명', '인당수강료내용', '수강료공개여부', '기숙사학원여부', '시설도로명주소',
       '시설도로명상세주소', '시설도로명우편번호', '전화번호', '수정일자'],
      dtype='object')

In [194]:
aca = aca[['시도교육청명', '행정구역명', '학원지정번호', '학원명', '시설도로명주소', '시설도로명상세주소']]

In [195]:
aca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136616 entries, 0 to 136615
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   시도교육청명     136616 non-null  object
 1   행정구역명      136474 non-null  object
 2   학원지정번호     136616 non-null  int64
 3   학원명        136616 non-null  object
 4   시설도로명주소    136616 non-null  object
 5   시설도로명상세주소  136616 non-null  object
dtypes: int64(1), object(5)
memory usage: 6.3+ MB

In [196]:
aca.head()

,시도교육청명,행정구역명,학원지정번호,학원명,시설도로명주소,시설도로명상세주소
0,서울특별시교육청,강남구,3000040160,대치학원,서울특별시 강남구 삼성로 347,", 201호 (대치동, 대일빌딩)"
1,서울특별시교육청,강남구,3000039285,(A STUDIO)에이스튜디오학원,서울특별시 강남구 논현로134길 5,", 5층, 6층 (논현동)"
2,서울특별시교육청,강남구,2531,(주)멘토르수학전문학원,서울특별시 강남구 남부순환로 2927,", 501호 일부(대치동, 대치 클래시아)"
3,서울특별시교육청,강남구,3000012704,(주)산에듀김영준국어논술전문별관학원,서울특별시 강남구 선릉로62길 27,", 1~4층 (대치동)"
4,서울특별시교육청,강남구,3000043003,(주)산에듀김영준국어논술전문프리미엄관학원,서울특별시 강남구 선릉로62길 32-2,", 5층 (대치동, 대아빌딩)"

In [197]:
aca['시도교육청명'].value_counts()

시도교육청명
경기도교육청        37660
서울특별시교육청      26122
부산광역시교육청       9049
경상남도교육청        8703
대구광역시교육청       8039
인천광역시교육청       6501
경상북도교육청        5870
광주광역시교육청       4753
충청남도교육청        4338
대전광역시교육청       3764
전라북도교육청        3628
울산광역시교육청       3619
전라남도교육청        3419
충청북도교육청        3375
강원특별자치도교육청     3217
제주특별자치도교육청     1732
세종특별자치시교육청     1569
전북특별자치도교육청     1258
Name: count, dtype: int64

In [198]:
aca['시도교육청명'] = aca['시도교육청명'].apply(lambda x : x.replace('교육청', ''))

C:\Users\5-08\AppData\Local\Temp\ipykernel_6680\1788692897.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aca['시도교육청명'] = aca['시도교육청명'].apply(lambda x : x.replace('교육청', ''))

In [199]:
aca['시도교육청명'].value_counts()

시도교육청명
경기도        37660
서울특별시      26122
부산광역시       9049
경상남도        8703
대구광역시       8039
인천광역시       6501
경상북도        5870
광주광역시       4753
충청남도        4338
대전광역시       3764
전라북도        3628
울산광역시       3619
전라남도        3419
충청북도        3375
강원특별자치도     3217
제주특별자치도     1732
세종특별자치시     1569
전북특별자치도     1258
Name: count, dtype: int64

In [204]:
aca['시군구'] = aca['시도교육청명'] + ' ' + aca['행정구역명']

C:\Users\5-08\AppData\Local\Temp\ipykernel_6680\432020956.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aca['시군구'] = aca['시도교육청명'] + ' ' + aca['행정구역명']

In [205]:
aca

,시도교육청명,행정구역명,학원지정번호,학원명,시설도로명주소,시설도로명상세주소,시군구
0,서울특별시,강남구,3000040160,대치학원,서울특별시 강남구 삼성로 347,", 201호 (대치동, 대일빌딩)",서울특별시 강남구
1,서울특별시,강남구,3000039285,(A STUDIO)에이스튜디오학원,서울특별시 강남구 논현로134길 5,", 5층, 6층 (논현동)",서울특별시 강남구
2,서울특별시,강남구,2531,(주)멘토르수학전문학원,서울특별시 강남구 남부순환로 2927,", 501호 일부(대치동, 대치 클래시아)",서울특별시 강남구
3,서울특별시,강남구,3000012704,(주)산에듀김영준국어논술전문별관학원,서울특별시 강남구 선릉로62길 27,", 1~4층 (대치동)",서울특별시 강남구
4,서울특별시,강남구,3000043003,(주)산에듀김영준국어논술전문프리미엄관학원,서울특별시 강남구 선릉로62길 32-2,", 5층 (대치동, 대아빌딩)",서울특별시 강남구
...,...,...,...,...,...,...,...
136611,제주특별자치도,제주시,3699,화가처럼그리기교습소,제주특별자치도 제주시 서광로20길 26,", (도남동)",제주특별자치도 제주시
136612,제주특별자치도,제주시,1478,화랑학원,제주특별자치도 제주시 중앙로 521,", 3층 (아라일동)",제주특별자치도 제주시
136613,제주특별자치도,제주시,3000011860,화북필수학교습소,제주특별자치도 제주시 진남로4길 19,", 1층 (화북일동)",제주특별자치도 제주시
136614,제주특별자치도,제주시,3000011504,화원미술교습소,제주특별자치도 제주시 인다9길 9,", 1층 (아라일동)",제주특별자치도 제주시
136615,제주특별자치도,제주시,3000011719,흙빚는화가미술학원,제주특별자치도 제주시 아란5길 13,", 201호 (아라일동)",제주특별자치도 제주시

In [206]:
# 학원 데이터에서 필요한 것만 가져오기
aca = aca[['시군구', '학원지정번호']]

In [207]:
aca

                시군구      학원지정번호
0         서울특별시 강남구  3000040160
1         서울특별시 강남구  3000039285
2         서울특별시 강남구        2531
3         서울특별시 강남구  3000012704
4         서울특별시 강남구  3000043003
...             ...         ...
136611  제주특별자치도 제주시        3699
136612  제주특별자치도 제주시        1478
136613  제주특별자치도 제주시  3000011860
136614  제주특별자치도 제주시  3000011504
136615  제주특별자치도 제주시  3000011719

[136616 rows x 2 columns]

## 학원 데이터에서 동까지 주소 나오게 하기
- 하려고 했는데 주소가 없는 것들도 있어서 못함

## 환율정보 가져오기